name: Checks

on: [ pull_request, push ]

jobs:
  # Code formatting.
  prettier:
    name: prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version: "20"
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm run format:check

  # Linting.
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version: "20"
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm run lint

  # Spellcheck.
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: streetsidesoftware/cspell-action@v8
        with:
          files: "**/*.{rs,md}"

  